#date de fin de la simulation
simulation.endtime 5000

#Initial network size
network.size 100

#Benchmark paramters
simulation.experiments 140
control.benchmark DHT.Benchmark
control.benchmark.DHTProtocolPid applicative
control.benchmark.at 3000

# Simulation paramters
simulation.class peersim.edsim.EDSimulator
simulation.maxNeighbours 4
simulation.maxfurthestNeighbours 4
simulation.leafsetSize 4
simulation.maxIDlogique 1000



# ::::: LAYERS :::::

#Transport layer
protocol.transport DHT.Transport

#latence minimale
protocol.transport.mindelay 80

#latence maximale
protocol.transport.maxdelay 120

#definition de la couche applicative (le hello world)
protocol.applicative DHT.DHTNode

#liaison entre la couche applicative et la couche transport
protocol.applicative.transport transport

#pour que la couche applicative connaisse son pid
protocol.applicative.myself applicative

# ::::: INITIALIZER :::::

#declaration d'un module d'initialisation
init.initializer DHT.Initializer

#pour que le module connaisse le pid de la couche applicative
init.initializer.DHTProtocolPid applicative