#date de fin de la simulation
simulation.endtime 3501

#Initial network size
network.size 100

#Benchmark paramters
#Total experiments: (19 + 19 + 14 + 15) * 10 = 670
simulation.experiments 670
control.benchmark DHT.Benchmark
control.benchmark.DHTProtocolPid applicative
control.benchmark.at 3500

# Simulation paramters
simulation.class peersim.edsim.EDSimulator
simulation.maxNeighbours 4
simulation.leafsetSize 4
simulation.maxIDlogique 1000

# ::::: LAYERS :::::

#Transport layer
protocol.transport DHT.Transport
protocol.transport.mindelay 80
protocol.transport.maxdelay 120

#definition de la couche applicative
protocol.applicative DHT.DHTNode
protocol.applicative.transport transport
protocol.applicative.myself applicative

# ::::: INITIALIZER :::::
init.initializer DHT.Initializer
init.initializer.DHTProtocolPid applicative